.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 10px 30px;
    width: 100%;
    background-color: lightgray;
    color: darkgray;
}

.footer p {
    margin: 0px;
}

.footer a {
    color: darkgray;
    font-weight: bold;
}
